.header-color {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eea849, #f46b45); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eea849, #f46b45); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deepthi-img {
    height:250px;
    padding-top:5px;
}