.header-color {
    background: #FFEFBA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}


.landing-grid h3 {
    text-align: center;
    font-size: 30px;
    color: black;
}

.landing-grid a {
    color: grey;
}

.landing-grid h4 {
    padding-top:30px;
    text-align: center;
    font-size: 30px;
    color: black;
    padding-bottom:20px;
}

.image {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    display: block;
    align-content:center;
    border-radius: 100px;
    margin-bottom: 20px;
}

.banner-text p {
  color: black;
  font-size: 20px;
  font-weight:bold;
  padding: 1em;
   text-align: center;
}

.social-links {
  top:10%;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 5em;
  display: flex;
  padding: 8px;
}

.projects-grid {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;

}

.projects-grid a {
    color: steelblue;
}

.company {
    height: 150px;
    width: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    display: block;
    align-content:center;
}

.job-title p {
    color: black;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}

.job-title ul {
    display: inline-block;
    text-align: left;
    padding: 1em;
    padding-bottom: 40px;
    padding: 0;
    padding-left: 40px;
}

.job-title li {
    display: inline-block;
    text-align: left;
    font-size: 40px;
}

.experience-tab {
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-tab {
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
}


.experience-tab h4{
    margin-top: auto;
    padding-top:20px;
    text-align:center;
    font-size: 30px;
    color: black;

}

.experience-tab h5 {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
}

.experience-tab h6 {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
}


.landing-grid h5 {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
    color: black;
}

.landing-grid h6 {
    margin-top: auto;
    text-align: center;
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
}




